<h1 style="text-align: center;">Gamer Over!</h1>
<div class="offset-by-four four columns">
  <form action="/">
    <input class="button-primary u-full-width" type="submit" value="Try again?">
  </form>
</div>
