// out: ./main.min.css, compress: true

@channel-padding: 12px;
@channel-border-size: 2px;
@message-padding: 8px;

.add-borders {
  border-bottom: solid 1px gray;
  &:last-of-type {
    border-bottom: none;
  }
}

.make100percent {
  width: 100%;
  height: 100%;
}

html, body {
    margin: 0;
    .make100percent;
}

.flexbox {
  // .make100percent;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  .title {
    text-align: center;
  }

  #username {
    font-weight: bold;
    font-style: italic;
  }

  ul#channel-list {
    list-style-type: none;
    overflow: auto;
    max-height: 500px;

    li.channel {
      margin: 0 auto;
      padding: @channel-padding;
      cursor: default;
      background-color: lighten(gray, 40%);
      // .add-borders;

      &:nth-child(odd) {
        background-color: lighten(gray, 20%);
      }

      .status {
        color: green;
      }
    }

    li.channel-selected {
      border: solid @channel-border-size gray !important;
      padding: (@channel-padding)-(@channel-border-size);
    }
  }

  #chat-window {
    display: none;
    margin-top: 20px;

    ul#messages-list {
      min-height: 200px;
      max-height: 350px;
      list-style-type: none;
      overflow: auto;

      li.message-item {
        margin: 0 auto;
        padding: @message-padding;
        .add-borders;

        .sender {
          &:after {
            content: ":";
          }
        }
      }
      .my-message {
        background-color: lighten(gray, 40%);
      }
      .their-message {
        background-color: lighten(gray, 20%);
      }
    }
  }
}
